### Buy and Hold 
1. 매수 후 일정 기간이 지나면 매도

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# csv 폴더 안에 있는 AAPL.csv
df = pd.read_csv('../../csv/AAPL.csv')
df

In [ ]:
# 인덱스를 컬럼의 데이터로 변경 
df.set_index('Date')

In [ ]:
df2 = pd.read_csv('../../csv/AAPL.csv', index_col='Date')
df2.head()

In [ ]:
df2.info()

In [ ]:
df2.isna().sum()

In [ ]:
# 결측치인 데이터를 필터링
df2.isna().any(axis=1)
# df.iloc[:, 0].isna | df.iloc[:, 1].isna | df.iloc[:, 2].isna

In [ ]:
df2.loc[~df2.isna().any(axis=1)]

In [ ]:
df2.describe()

In [ ]:
flag = df2.isin([np.nan, np.inf, -np.inf]).any(axis=1)

In [ ]:
AAPL = df2.loc[~flag]

In [ ]:
AAPL.head()

In [ ]:
# 수정 주가(Adj Close)컬럼을 제외한 나머지 컬럼은 제거 
price_AAPL = AAPL[['Adj Close']]

In [ ]:
# 일별 수익율 생성
# 오늘의 주가 / 전날의 주가
# price_AAPL에 새로운 파생변수 생성하여 
# 일별 수익율(daily_rtn) 대입
price_AAPL['daily_rtn'] =\
      price_AAPL['Adj Close'] / price_AAPL['Adj Close'].shift()

In [ ]:
price_AAPL.head()

In [ ]:
price_df = price_AAPL.tail(1000)

In [ ]:
# 해당하는 기간에서 누적 수익율을 계산

# 일별 수익율을 이용하여 누적 수익율 계산
# 수익율 데이터를 생성하여 1대입 
rtn = 1

for i in range(len(price_df)):
    # i? -> 데이터프레임의 인덱스(위치)
    rtn *= price_df.iloc[i, 1]
rtn

In [ ]:
# 위치를 기준으로 하여 데이터프레임를 필터링
price_df.iloc[0, 1]

In [ ]:
price_df['daily_rtn2'] = price_df['Adj Close'].pct_change()

In [ ]:
# 누적곱 함수 
(1+price_df['daily_rtn2']).cumprod()

In [ ]:
price_df.iloc[len(price_df)-1, 0] / price_df.iloc[0, 0]

In [ ]:
df = pd.read_csv('../../csv/AAPL.csv')

In [ ]:
# Date 컬럼을 datetime 형태 변경 
df.info()

In [53]:
df.head(1)

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0

In [55]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9715 entries, 0 to 9714
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9715 non-null   datetime64[ns]
 1   Open       9714 non-null   float64
 2   High       9714 non-null   float64
 3   Low        9714 non-null   float64
 4   Close      9714 non-null   float64
 5   Adj Close  9714 non-null   float64
 6   Volume     9713 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 531.4 KB

In [57]:
# Date 컬럼을 인덱스로 변경 
df.set_index('Date', inplace=True)

In [60]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [59]:
from datetime import datetime

In [61]:
start = "201806"
end = "201905"

buy = datetime.strptime(start, '%Y%m')
sell = datetime.strptime(end, '%Y%m')

print(buy)
print(sell)

2018-06-01 00:00:00
2019-05-01 00:00:00

In [62]:
df.loc[buy:sell]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-06-01,187.990005,190.259995,187.750000,190.240005,187.387604,23442500.0
2018-06-04,191.639999,193.419998,191.350006,191.830002,188.953751,26266200.0
2018-06-05,193.070007,193.940002,192.360001,193.309998,190.411560,21566000.0
2018-06-06,193.630005,194.080002,191.919998,193.979996,191.071487,20933600.0
2018-06-07,194.139999,194.199997,192.339996,193.460007,190.559311,21347200.0
...,...,...,...,...,...,...
2019-04-25,206.830002,207.759995,205.119995,205.279999,204.492508,18543200.0
2019-04-26,204.899994,205.000000,202.119995,204.300003,203.516266,18649100.0
2019-04-29,204.399994,205.970001,203.860001,204.610001,203.825073,22204700.0
2019-04-30,203.059998,203.399994,199.110001,200.669998,199.900192,46534900.0
2019-05-01,209.880005,215.309998,209.229996,210.520004,209.712402,64827300.0

In [ ]:
# 함수(buyandhold)를 생성 -> 매개변수는 4개(df, col, start, end)

    # df에 결측치나 무한대 값들을 모두 제거 

    # df에 있는 Date 컬럼을 시계열 데이터로 변경

    # col 매개변수를 이용하여 df에 해당하는 col 컬럼만 제외하고 모두 제거 

    # start, end 데이터를 시계열 데이터로 변경

    # start, end를 기준으로 df을 필터링

    # daily_rtn 파생변수를 생성하여 일별 수익율을 계산해서 대입

    # rtn 파생변수를 생성하여 누적 수익율 계산하여 대입 

    # 데이터프레임 리턴