### Class 선언
    - class 키워드를 이용하여 클래스 선언
    - class 이름은 일반적으로 앞글자를 대문자로 표시
### Class 생성 
    - 선언이 된 class를 변수를 이용하여 class를 저장
### Class 안에 있는 변수, 함수를 호출
    - class가 저장된 변수 안에 있는 변수, 함수를 호출

In [ ]:
# class를 선언 
class Class_1:
    # 생성자 함수 (__init__)
    def __init__(self, _x, _y):
        self.x = _x
        self.y = _y

In [ ]:
# class를 생성
c1 = Class_1(5, 3)

In [ ]:
# class안에 존재하는 변수를 호출
print(c1.x)
print(c1.y)

In [ ]:
# class 생성
c2 = Class_1(10, 30)

In [ ]:
# class 안에 있는 변수를 호출
print(c2.x)
print(c2.y)

In [ ]:
print(c1.x)
print(c2.x)

In [ ]:
class Class_2:
    def __init__(self, _x, _y):
        self.x = _x
        self.y = _y
    # _type에 따른 계산 결과 리턴
    def calculate(self, _type):
        if _type == '+':
            result = self.x + self.y
        else :
            result = self.x - self.y
        return result

In [ ]:
c3 = Class_2(10, 2)
c4 = Class_2(50, 100)

In [ ]:
# class 안에 있는 함수를 호출
print(c3.calculate('+'))
print(c4.calculate('+'))

### class 예제
1. class의 이름은 User
2. 생성자 함수에서는 유저의 이름, 생년월일, 휴대폰번호를 매개변수로 받아서 class 안에 self변수로 저장
3. info() 함수를 생성하여 유저의 정보를 출력하는 함수를 생성

In [ ]:
class User:
    # 클래스 변수 생성
    user_list = []
    def __init__(self, _name, _birth, _phone):
        self.name = _name
        self.birth = _birth
        self.phone = _phone
        self.user_list.append(_name)
    
    def info(self):
        result = f"""유저의 이름은 {self.name}이고 
        생년월일은 {self.birth}이고 휴대폰 번호는 {self.phone}이다"""
        return result

In [ ]:
user1 = User('kim', '800101', '01012345678')
user2 = User('park', '900101', '01098765432')

In [ ]:
print(user1.info())
print(user2.info())

In [ ]:
print(user1.user_list)
print(user2.user_list)

In [ ]:
print(a)

In [ ]:
import pymysql

In [ ]:
class Mydb:
    # 생성자 함수 (매개변수 : host, port, user, password, db)
    def __init__(self, _host, _port, _user, _password, _db):
        self.host = _host
        self.port = _port
        self.user = _user
        self.password = _password
        self.db = _db
     
    # Query문을 데이터베이스에 보내주고 결과값을 받아오는 함수 
    def sql_qeury(self, _sql, *_values):
        # 데이터베이스 서버와 연결
        _db = pymysql.connect(
            host = self.host,
            port = self.port, 
            user = self.user, 
            password = self.password, 
            db = self.db
        )
        # 커서 가상 공간을 생성
        cursor = _db.cursor(pymysql.cursors.DictCursor)
        # 입력값으로 받아온 sql query문을 실행
        cursor.execute(_sql, _values)
        # sql query문이 select 문이라면
        if _sql.lower().split()[0] == 'select':
            result = cursor.fetchall()
        else:
            _db.commit()
            result = 'Query OK'
        
        # 데이터베이스 서버와의 연결을 종료
        _db.close()
        
        return result

In [ ]:
# class 생성 
mydb1 = Mydb(
    '127.0.0.1', 
    3306, 
    'root', 
    '1234', 
    'ubion'
)

In [ ]:
sql = """
    select 
    * 
    from 
    user 
    where 
    id = %s
"""

mydb1.sql_qeury(sql, 'test2')

In [ ]:
mydb2 = Mydb(
    '172.16.11.155', 
    3306, 
    'ubion', 
    '1234', 
    'ubion'
)

In [ ]:
sql = """
    select 
    * 
    from 
    aapl
"""
mydb2.sql_qeury(sql)

In [ ]:
mydb1.sql_qeury(sql)