## 데이터프레임의 결합
- 유니언 결합 
    - 단순하게 행을 결합하거나 열을 결합 
- 조인 결합
    - 특정한 조건에 맞춰서 데이터를 열 추가 결합
    - 데이터프레임 + 데이터프레임 결합 -> 특정 컬럼의 데이터들이 같은 값들로 이루어져있을때 열을 추가

In [ ]:
import pandas as pd

In [ ]:
data = {
    'name' : ['test', 'test2', 'test3'], 
    'age' : [20, 30, 40]
}
df1 = pd.DataFrame(data)
df1

In [ ]:
data = {
    'name' : ['test4', 'test5'],
    'loc' : ['seoul', 'busan']
}
df2 = pd.DataFrame(data)
df2

In [ ]:
# 2개의 데이터프레임을 단순하게 결합 
# concat([데이터프레임명, ...], axis= {0|1, rows|columns}, 
# ignore_index={bool})
# concat() 함수는 pandas 내부에 존재하는 함수 
pd.concat([df1, df2], axis=0)
pd.concat([df1, df2], axis=0).reset_index()
pd.concat([df1, df2], axis=0).reset_index().drop('index', axis=1)
pd.concat([df1, df2], axis=0).reset_index(drop = True)
pd.concat([df1, df2], axis=0, ignore_index=True)

In [ ]:
pd.concat([df1, df2], axis=1, ignore_index=True)

In [ ]:
data = {
    'name' : ['test6', 'tes7'], 
    'age' : [25, 35], 
    'loc' : ['ulsan', 'mokpo']
}
df3 = pd.DataFrame(data)
df3

In [ ]:
pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [ ]:
# 특정한 조건에 맞춰서 열을 결합하는 조인 결합
# merge( 데이터프레임명1, 데이터프레임명2, on = {조건식}, 
# how = {left | right | inner | outer} )
data = {
    'id' : ['test', 'test2', 'test3', 'test4'], 
    'item' : ['A', 'B', 'A', 'D']
}
df1 = pd.DataFrame(data)

In [ ]:
df1

In [14]:
data = [
    {
        'item_name' : 'A', 
        'price' : 1000
    }, 
    {
        'item_name' : 'B', 
        'price' : 2000
    }, 
    {
        'item_name' : 'C', 
        'price' : 3000
    }
]
df2 = pd.DataFrame(data)
df2

  item_name  price
0         A   1000
1         B   2000
2         C   3000

In [18]:
# 2개의 데이터프레임을 특정한 조건에 맞춰서 열 결합 
pd.merge(df1, df2, left_on='item', right_on='item_name', how='outer')

      id item item_name   price
0   test    A         A  1000.0
1  test3    A         A  1000.0
2  test2    B         B  2000.0
3  test4    D       NaN     NaN
4    NaN  NaN         C  3000.0

In [31]:
data = {
    'id' : ['test', 'test2', 'test3'],
    'gold' : [10000, 5000, 0]
}
df3 = pd.DataFrame(data)

In [24]:
# df1, df2, df3 특정한 조건에 맞춰서 열 결합 

# df2의 컬럼의 이름을 변경

df2.rename(columns={
    'item_name' : 'item'
}, inplace=True)

df2

df2.columns = ['item', 'price']

In [26]:
merge_data = pd.merge(df1, df2, on='item', how='left')

In [29]:
merge_data

      id item   price
0   test    A  1000.0
1  test2    B  2000.0
2  test3    A  1000.0
3  test4    D     NaN

In [32]:
df3

      id   gold
0   test  10000
1  test2   5000
2  test3      0

In [33]:
pd.merge(merge_data, df3, on = 'id', how='left')

      id item   price     gold
0   test    A  1000.0  10000.0
1  test2    B  2000.0   5000.0
2  test3    A  1000.0      0.0
3  test4    D     NaN      NaN