In [3]:
# titanic csv import 
import pandas as pd

train_df = pd.read_csv('./datasets/titanic_train.csv')
test_df = pd.read_csv('./datasets/titanic_test.csv')
test_label_df = pd.read_csv('./datasets/titanic_gender_submission.csv')

In [38]:
# eda 

test_label_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [30]:
titanic_train_df = train_df[['Pclass' , 'Sex', 'Age' , 'Survived']]
titanic_test_df = test_df[['Pclass' , 'Sex', 'Age']]

In [31]:
titanic_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 28.0+ KB

In [32]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [33]:
# 결측치 처리 : Age 평균값으로 대체
titanic_train_df['Age'] = titanic_train_df['Age'].fillna(titanic_train_df['Age'].mean())
titanic_test_df['Age'] = titanic_test_df['Age'].fillna(titanic_test_df['Age'].mean())

C:\Users\LG\AppData\Local\Temp\ipykernel_10152\1728458412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_train_df['Age'] = titanic_train_df['Age'].fillna(titanic_train_df['Age'].mean())
C:\Users\LG\AppData\Local\Temp\ipykernel_10152\1728458412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_test_df['Age'] = titanic_test_df['Age'].fillna(titanic_test_df['Age'].mean())

In [34]:
titanic_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 28.0+ KB

In [35]:
titanic_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    object
 2   Age     418 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.9+ KB

In [36]:
from sklearn.preprocessing import LabelEncoder


encoder = LabelEncoder()
result_train = encoder.fit_transform(titanic_train_df['Sex'])
result_test = encoder.fit_transform(titanic_test_df['Sex'])
# print(result)
titanic_train_df['Sex']=result_train
titanic_test_df['Sex']=result_test

C:\Users\LG\AppData\Local\Temp\ipykernel_10152\3911742394.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_train_df['Sex']=result_train
C:\Users\LG\AppData\Local\Temp\ipykernel_10152\3911742394.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_test_df['Sex']=result_test

In [26]:
titanic_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

In [27]:
titanic_train_df.describe()

           Pclass         Sex         Age    Survived
count  891.000000  891.000000  891.000000  891.000000
mean     2.308642    0.647587   29.699118    0.383838
std      0.836071    0.477990   13.002015    0.486592
min      1.000000    0.000000    0.420000    0.000000
25%      2.000000    0.000000   22.000000    0.000000
50%      3.000000    1.000000   29.699118    0.000000
75%      3.000000    1.000000   35.000000    1.000000
max      3.000000    1.000000   80.000000    1.000000

In [37]:
titanic_test_df.describe()

           Pclass         Sex         Age
count  418.000000  418.000000  418.000000
mean     2.265550    0.636364   30.272590
std      0.841838    0.481622   12.634534
min      1.000000    0.000000    0.170000
25%      1.000000    0.000000   23.000000
50%      3.000000    1.000000   30.272590
75%      3.000000    1.000000   35.750000
max      3.000000    1.000000   76.000000

In [39]:
titanic_test_df['Survived'] = test_label_df['Survived']
titanic_test_df.head()

C:\Users\LG\AppData\Local\Temp\ipykernel_10152\921416937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_test_df['Survived'] = test_label_df['Survived']

   Pclass  Sex   Age  Survived
0       3    1  34.5         0
1       3    0  47.0         1
2       2    1  62.0         0
3       3    1  27.0         0
4       3    0  22.0         1

In [40]:
# modeling 

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

dtree = DecisionTreeClassifier(random_state=42)

### parameter 들을 dictionary 형태로 설정
parameters = {'max_depth' : [3, 5, 7], 'min_samples_split' : [5, 7]}

grid_dtree = GridSearchCV(dtree, param_grid = parameters, cv=5, refit=True)



# grid_dtree.fit(X_train, y_train)

In [41]:
features = titanic_train_df.drop(labels='Survived' ,axis=1)
label = titanic_train_df['Survived']

grid_dtree.fit(features, label)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(random_state=42),
             param_grid={'max_depth': [3, 5, 7], 'min_samples_split': [5, 7]})

In [42]:
grid_dtree.best_params_

{'max_depth': 7, 'min_samples_split': 7}

In [43]:
# evaluation
X_test = titanic_test_df.drop(labels='Survived' ,axis=1)
y_test = titanic_test_df['Survived']

pred = grid_dtree.predict(X_test)

from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test ,pred )
acc

0.9401913875598086

In [52]:
import numpy as np
human = np.array([[3, 1 ,25.0]])
# [1, 0 ,25.0]
grid_dtree.predict(human)

C:\Users\LG\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)