In [1]:
from datetime import datetime

In [2]:
time_data = "2023-11-24 15:41:00"

In [6]:
# 문자열을 시계열 데이터로 변경
time = datetime.strptime(time_data, '%Y-%m-%d %H:%M:%S')

In [7]:
print(type(time_data))
print(type(time))

<class 'str'>
<class 'datetime.datetime'>

In [11]:
time.strftime('%Y년%m월')

'2023년11월'

### datetime에서 사용되는 format
- %Y : 년도 전체를 표시 ('2023')
- %y : 년도를 축약해서 표기 ('23')
- %b : 축약된 월의 이름 ('Mar')
- %B : 월 이름('March')
- %m : 월을 숫자로 표시 ('11')
- %d : 일을 숫자로 표시 ('24')
- %H : 24시를 기준으로 표시 
- %I : 12시를 기준으로 표시
- %M : 분을 표시 
- %S : 초를 표시 
- %p : AM/PM을 표시 
- %a : 요일의 이름을 축약해서 표시 ('Fri')
- %A : 요일의 이름을 표시 ('Friday')
- %w : 요일을 숫자로 표시 (0 : 일, 1: 월, ...)

In [12]:
import pandas as pd

In [25]:
pd.Timestamp(2000000000000000000)

Timestamp('2033-05-18 03:33:20')

In [26]:
pd.Timestamp(100, unit='D')

Timestamp('1970-04-11 00:00:00')

In [27]:
pd.Timestamp('2023-11-23')

Timestamp('2023-11-23 00:00:00')

In [28]:
pd.Timestamp('2023-11')

Timestamp('2023-11-01 00:00:00')

In [29]:
pd.Timestamp('2023')

Timestamp('2023-01-01 00:00:00')

In [31]:
time_data = '2023-01-01'
pd.to_datetime(time_data, format='%Y-%m-%d')

Timestamp('2023-01-01 00:00:00')

In [33]:
time_data = '2023년11월24일'

pd.to_datetime(time_data, format='%Y년%m월%d일')

Timestamp('2023-11-24 00:00:00')

In [39]:
time_data = '16:31:00 30-11-23'

time = pd.to_datetime(time_data)

In [42]:
# 기존의 시계열데이터에서 3일 후 
time + pd.Timedelta(2, unit='d')

Timestamp('2023-12-02 16:31:00')